[package]
name = "av-metrics-tool"
version = "0.4.0"
authors = ["Josh Holmer <jholmer.in@gmail.com>"]
edition = "2018"
description = "A CLI tool for measuring audio/video metrics"
license = "MIT"
repository = "https://github.com/rust-av/av-metrics"

[dependencies]
av-metrics = { version = "0.5", features = ["serde"] }
clap = "2.33"
maplit = "1"
serde = "1"
serde_json = "1"
y4m = "0.5"
console = "0.11.2"