[package]
name = "av-metrics"
version = "0.2.1"
authors = ["Josh Holmer <jholmer.in@gmail.com>"]
edition = "2018"
description = "A collection of algorithms for measuring audio/video metrics"
license = "MIT"
repository = "https://github.com/rust-av/av-metrics"

[dependencies]
err-derive = "0.2.1"
itertools = "0.8.1"
lab = "0.7.2"
num-traits = "0.2"
y4m = { version = "0.4", optional = true }

[dev-dependencies]
criterion = "0.3"

[features]
default = ["y4m-decode"]
decode = []
y4m-decode = ["y4m", "decode"]
bench = []

[[bench]]
name = "bench"
harness = false
